html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Fredoka One", "Bubblegum Sans", "Chalkboard SE", sans-serif;
  color: black;
  -webkit-text-stroke: 2px black;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: black;
  -webkit-text-stroke: 1px black;
}

#start {
    text-align: center;
    font-size: 30px;
}

#timer{
    color: black;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /*cursor: url('./assets/mallet.png'), pointer;*/
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
  pointer-events: auto;
  cursor: url('../assets/hammer-down.png') 16 16, pointer;  /* Adjusted hotspot to 16x16 for better accuracy */
}

.mole:active {
  cursor: url('../assets/hammer-down.png') 16 16, pointer;
  transform: scale(0.95);
}

.hole.show .mole {
  top: 0;
}
